<%= link_to 'Create New Team', new_team_path %>


<h1>Teams already invited</h1>
<% @teams.each do |team| %>
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag team.team_logo_url %><br />
    </div>
    <div class="col-sm-3">
      <h3> <%= team.college.name %> - <%= link_to "#{team.team_name}", team_path(team) %> </h3>
    </div>
  </div>
  </br>
<% end %>

