// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-form {
  margin-top: 2em;
}

#add-member-link {
  margin-bottom: 1em;
}

.nxtform {
  margin-left: 0;
  margin-right: 0;
  background-color: #E5E3DC;
  border-width: 1px;
  border-color: #D4D1C4;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
